body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #fff;
}
.content {
    width: 90%;
    background-color: #fff;
    box-shadow: 4px 0 4px -4px rgba(25, 25, 26, 0.5), -4px 0 4px -4px rgba(25, 25, 26, 0.5);
    padding: 15px;
}

a,
a:hover,
a:visited {
    color: black;
    text-decoration: none;
}

.top-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.top-header .left-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.top-header .right-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 22px;
}

.top-header .left-column .full-name {
    font-size: 30px;
    color: black;
}

.top-header .left-column .job-title {
    color: black;
}

.top-header .left-column .address {
    color: black;
}

.top-header .right-column .phone-number,
.top-header .right-column .email,
.top-header .right-column .linkedin,
.top-header .right-column .github {
    text-align: right;
}

.social-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}


.techskills{
    font-weight: bold;
}

.skilllist{
    margin-left: 1.3%;
}

.codingdojo-skills{
    font-weight: bold;
}

.technical-projects-title{
    font-weight: bold;
    font-size: 20px;
}

.website-title{
    font-weight: bold;
    margin-left: 1.3%;
}

.professional-experience-title{
    font-weight: bold;
    font-size: 20px;

}

.movie-review-title{
    font-weight: bold;
    margin-left: 1.3%;

}

.navy-title{
    font-weight: bold;
}

.watch-captain-title{
    font-weight: bold;
}

.halla-clean-title{
    font-weight: bold;
    margin-left: 1.3%;

}

.owner-title{
    font-weight: bold;
}

.place-and-date-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.place-and-date-row .place {
        
}

.place-and-date-row .date {
    margin-right: 4%;
}

.coding-dojo-title{
    font-weight: bold;
    margin-left: 1.3%;
}

.education-coding-dojo{
    font-weight: bold;
}

.uoa-title{
    font-weight: bold;
    margin-left: 1.3%;

}

.ba-title{
    font-weight: bold;
}

.nwacc-title{
    font-weight: bold;
    margin-left: 1.3%;

}


.red-tag {
    display: inline-flex; 
    border-radius: 10px; 
    padding: 10px;
}

